<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success Page</title>
</head>

<body>
    <h1 class="border mx-auto text-center bg-success" style="width: 500px; margin-top: 300px; padding: 10px">เพิ่มเมนูสำเร็จ</h1>
    <a href="/home" class="border btn btn-success" style="margin:0 600px;">HOME</a>
</body>

</html>