<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success Page</title>
</head>

<body>
    <div class="container text-center" style="margin-top:40vh;">
        <div class="border mx-auto text-center bg-danger" style="width: 500px; padding: 10px; color:white;">
            <h1>เพิ่มอาหารไม่สำเร็จ</h1>
            <h1>โปรดสั่งอาหารใหม่</h1>
        </div>
        <a href="/home" class="border btn-danger p-2 mt-3 mx-auto" style="display: block; width:90px">HOME</a>
    </div>
</body>

</html>